# DS-SF-34 | 02 | The `pandas` Library | Assignment | Starter Code

## The Bistro Meets `pandas`

You've just told one of your friend that you are taking a Data Science class.  (Yeah!)  Your friend is running a bistro, a small restaurant, serving moderately priced simple meals in a modest setting ([Wikipedia](https://en.wikipedia.org/wiki/Bistro)).  She collected over some period of time the following information of her patrons' visits.

| Variable's name | Its meaning |
|:---:|:---|
| `name` | Patron's first name |
| `gender` | Patron's gender |
| `is_smoker` | Whether the patron is smoking or not |
| `party` | Party's size |
| `check` | Check amount (\$) (after taxes but before tips) |
| `tip` | Tip (\$) that the patron added to the check |
| `day` | Week day of the visit |
| `time` | Rough time estimate of the visit |

In this assignment, we will be exploring this dataset using `pandas`.<sup>(*)</sup>

<sup>(*)</sup> this dataset was adapted from the `tips` dataset of the `seaborn` package (https://github.com/mwaskom/seaborn-data)

> ### Question 1.  Import `numpy` (as `np`) and `pandas` (as `pd`).

In [61]:
import os
import numpy as np
import pandas as pd

# TODO

pd.set_option('display.max_rows', 20)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

> ### Question 2.  Read the `dataset-02-bistro.csv` dataset.

In [62]:
# TODO
df=pd.read_csv(os.path.join('..','datasets','dataset-02-bistro.csv'))

> ### Question 3.  What is the class of the `pandas` object storing the dataset?

In [8]:
# TODO  it's a dataframe.
type(df)

pandas.core.frame.DataFrame

Answer: TODO

> ### Question 4.  How many samples (i.e., rows) are in this dataset?

In [9]:
# TODO  there are 244 rows in the dataset
len(df)

244

Answer: TODO

> ### Question 5.  How many variables (i.e., columns) are in this dataset?

In [11]:
# TODO  there are 8 columns in the dataset.
df.shape

(244, 8)

Answer: TODO

> ### Question 6.  Print the name of each column in the dataset, one name per line.

In [12]:
# TODO  The names of the columns are:

# day           object
# time          object
# name          object
# gender        object
# is_smoker       bool
# party          int64
# check        float64
# tip          float64

df.dtypes

day           object
time          object
name          object
gender        object
is_smoker       bool
party          int64
check        float64
tip          float64
dtype: object

> ### Question 7.  Print the first two rows of the dataset to the console.  What does the output look like?

In [13]:
# TODO  First two rows
df.head(2)

      day    time      name  gender is_smoker  party  check   tip
0  Sunday  Dinner  Kimberly  Female     False      2  16.99  1.01
1  Sunday  Dinner  Nicholas    Male     False      3  10.34  1.66

Answer: TODO

> ### Question 8.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [21]:
# TODO  Last two rows
df.tail(2)

          day    time    name  gender is_smoker  party  check   tip
242  Saturday  Dinner     Jon    Male     False      2  17.82  1.75
243  Thursday  Dinner  Brandi  Female     False      2  18.78  3.00

Answer: TODO

> ### Question 9.  Does the dataset contain any missing values?

In [23]:
# TODO   dataset contains no missing values, because all the columns say "non-null" below
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
day          244 non-null object
time         244 non-null object
name         244 non-null object
gender       244 non-null object
is_smoker    244 non-null bool
party        244 non-null int64
check        244 non-null float64
tip          244 non-null float64
dtypes: bool(1), float64(2), int64(1), object(4)
memory usage: 13.7+ KB

Answer: TODO

> ### Question 10.  What can you say about the `is_smoker` variable?  I.e., will it bring any insights when analyzing the dataset?  What do you want to do with it?  (and do it...)

In [24]:
# TODO  The is_smoker variable is a boolean variable, so we will want to convert to 0 or 1.  Let's convert that now.
df.head(10)
df.is_smoker *= 1
df.head(10)

      day    time      name  gender  is_smoker  party  check   tip
0  Sunday  Dinner  Kimberly  Female          0      2  16.99  1.01
1  Sunday  Dinner  Nicholas    Male          0      3  10.34  1.66
2  Sunday  Dinner     Larry    Male          0      3  21.01  3.50
3  Sunday  Dinner    Joseph    Male          0      2  23.68  3.31
4  Sunday  Dinner    Janice  Female          0      4  24.59  3.61
5  Sunday  Dinner      Mark    Male          0      4  25.29  4.71
6  Sunday  Dinner     Jamie    Male          0      2   8.77  2.00
7  Sunday  Dinner    Steven    Male          0      4  26.88  3.12
8  Sunday  Dinner   Wilburn    Male          0      2  15.04  1.96
9  Sunday  Dinner       Ian    Male          0      2  14.78  3.23

Answer: TODO

> ### Question 11.  For which week days does the dataset has data for?

In [25]:
# TODO  the dataset has the week days Thurs, Fri, Sat, and Sun represented.
df.day.value_counts()

Saturday    87
Sunday      76
Thursday    62
Friday      19
Name: day, dtype: int64

Answer: TODO

> ### Question 12.  How often was the bistro patronized for each week day?

(check `.value_counts()`; it could come in handy)

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)

In [26]:
# TODO  Thurs had 62 visits, Fri had 19 visits, Sat had 87 visits, Sun had 76 visits
df.day.value_counts()

Saturday    87
Sunday      76
Thursday    62
Friday      19
Name: day, dtype: int64

Answer: TODO

> ### Question 13.  How much tip did waiters collect for each week day?

In [29]:
# TODO Tips collected: Thurs $171.83.  Fri $51.96.  Sat $260.40.  Sun $247.39
df[['day','tip']].groupby(['day']).sum()

             tip
day
Friday     51.96
Saturday  260.40
Sunday    247.39
Thursday  171.83

Answer: TODO

> ### Question 14.  What is the average tip per check (in absolute \$) for each week day?

In [30]:
# TODO  Average tip per check:  Thur $2.77  Fri $2.73  Sat $2.99  Sun $3.26
df[['day','tip']].groupby(['day']).mean()

               tip
day
Friday    2.734737
Saturday  2.993103
Sunday    3.255132
Thursday  2.771452

Answer: TODO

> ### Question 15.  What is the average tip per check (as a percentage of the check) for each week day?

In [33]:
# TODO   Average % tip:  Thur 16.1%  Fri 17.0%  Sat 15.3%  Sun 16.7%
# df.head(5)
df['prct_tip']=df['tip']/df['check']
# df.head(5)
df[['prct_tip','day']].groupby(['day']).mean()

          prct_tip
day
Friday    0.169913
Saturday  0.153152
Sunday    0.166897
Thursday  0.161276

Answer: TODO

> ### Question 16.  Are there any name in common between male and female patrons?  (E.g., `Chris` can refer to either a man or a woman)

(check `numpy.intersect1d()`; it could come in handy)

(https://docs.scipy.org/doc/numpy/reference/generated/numpy.intersect1d.html)

In [40]:
# TODO  the only name in common between male and female patrons is "Casey."
# df[df.gender=='Female'].head()

np.intersect1d(df[df.gender=='Female'].name,df[df.gender=='Male'].name)

array(['Casey'], dtype=object)

In [46]:
df[(df.gender=='Female') & (df.name=='Casey')]

          day    time   name  gender  is_smoker  party  check   tip  prct_tip
168  Saturday  Dinner  Casey  Female          0      2  10.59  1.61  0.152030
188    Sunday  Dinner  Casey  Female          0      3  18.15  3.50  0.192837
229  Saturday  Dinner  Casey  Female          0      2  22.12  2.88  0.130199

In [47]:
df[(df.gender=='Male') & (df.name=='Casey')]

          day    time   name gender  is_smoker  party  check   tip  prct_tip
39   Saturday  Dinner  Casey   Male          0      3  31.27  5.00  0.159898
42     Sunday  Dinner  Casey   Male          0      2  13.94  3.06  0.219512
83   Thursday   Lunch  Casey   Male          0      2  32.68  5.00  0.152999
160    Sunday  Dinner  Casey   Male          0      4  21.50  3.50  0.162791
206  Saturday  Dinner  Casey   Male          0      3  26.59  3.41  0.128244

Answer: TODO

> ### Question 17.  If no patrons share the same name, how many unique patrons are in the dataset?

In [52]:
# TODO  #there are 181 unique names in the dataset
len(df['name'].value_counts())

181

Answer: TODO

> ### Question 18.  How many times did `Kevin` patronized the bistro?  How about `Alice`?

In [49]:
# TODO  Kevin went to the bistro 4 times.  Alice  went to the bistro 2 times.
# len(df[df.name=='Kevin'])
df[df.name=='Kevin']

          day    time   name gender  is_smoker  party  check   tip  prct_tip
96     Friday  Dinner  Kevin   Male          0      2  27.28  4.00  0.146628
187    Sunday  Dinner  Kevin   Male          0      5  30.46  2.00  0.065660
218  Saturday  Dinner  Kevin   Male          0      2   7.74  1.44  0.186047
239  Saturday  Dinner  Kevin   Male          0      3  29.03  5.92  0.203927

In [50]:
df[df.name=='Alice']

          day    time   name  gender  is_smoker  party  check   tip  prct_tip
16     Sunday  Dinner  Alice  Female          0      3  10.33  1.67  0.161665
214  Saturday  Dinner  Alice  Female          0      3  28.17  6.50  0.230742

Answer: TODO

> ### Question 19.  Who are the top 3 female and male patrons?

In [57]:
# TODO #the 3 top Female patrons are Mary, Casey, and Laura.  The 3 top Male patrons are David, James, and Casey
df.name[df.gender=='Female'].value_counts().head(10)

Mary         4
Casey        3
Laura        3
Theresa      2
Alice        2
Ruth         2
Lisa         2
Elizabeth    2
Anna         2
Janice       2
Name: name, dtype: int64

Answer: TODO

In [58]:
df.name[df.gender=='Male'].value_counts().head(10)

David       8
James       5
Casey       5
Carl        4
Kevin       4
Frank       3
Tyler       3
Kenneth     3
Jonathan    3
Joseph      2
Name: name, dtype: int64

> ### Question 20.  Who's the best tipper (as a fraction of all tips over all check totals)?  Who's the worst?  How many times did they patronize the bistro?

(check `numpy.intersect1d()`; it could come in handy)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sort_values.html)

In [78]:
# TODO  best tipper is Daniel. He visited 3 times. Worst tipper is Jeremy.  He visited once.
df['prct_tip']=df['tip']/df['check']
df.head(5)
#df[['prct_tip','name']].groupby(['name']).mean().sort_values(by='prct_tip',ascending=False).head(3)
df[['prct_tip','name']].groupby(['name']).mean().sort_values(by='prct_tip',ascending=False).tail(3)

         prct_tip
name
Destiny  0.056797
Mildred  0.056433
Jeremy   0.035638

In [82]:
#len(df[df.name=='Daniel'])
df[df.name=='Daniel']

          day    time    name gender is_smoker  party  check   tip  prct_tip
64   Saturday  Dinner  Daniel   Male     False      3  17.59  2.64  0.150085
172    Sunday  Dinner  Daniel   Male     False      2   7.25  5.15  0.710345

Answer: TODO

In [81]:
len(df[df.name=='Jeremy'])

1

In [ ]:
df[['prct_tip','name']].groupby(['name']).mean().sort_values(by='prct_tip',ascending=False).tail(3)