In [1]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

from sklearn import preprocessing, neighbors, model_selection

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [47]:
df = pd.read_csv('train.csv')

In [48]:
df.head(5)

   business_id         labels
0         1000  1 2 3 4 5 6 7
1         1001        0 1 6 8
2          100    1 2 4 5 6 7
3         1006      1 2 4 5 6
4         1010          0 6 8

In [49]:
df.describe().transpose()

              count      mean          std  min    25%     50%     75%     max
business_id  2000.0  1951.481  1162.673085  3.0  954.5  1906.0  2953.5  4000.0

In [50]:
type(df['labels'])

pandas.core.series.Series

In [51]:
df['labels']

0       1 2 3 4 5 6 7
1             0 1 6 8
2         1 2 4 5 6 7
3           1 2 4 5 6
4               0 6 8
            ...
1995      1 2 3 5 6 7
1996            3 6 8
1997                8
1998      1 2 4 5 6 7
1999        1 2 5 6 7
Name: labels, dtype: object

In [63]:
df['has_zero'] = np.where(df['labels'].str.contains("0"), 1, 0)
df['has_one'] = np.where(df['labels'].str.contains("1"), 1, 0)
df['has_two'] = np.where(df['labels'].str.contains("2"), 1, 0)
df['has_three'] = np.where(df['labels'].str.contains("3"), 1, 0)
df['has_four'] = np.where(df['labels'].str.contains("4"), 1, 0)
df['has_five'] = np.where(df['labels'].str.contains("5"), 1, 0)
df['has_six'] = np.where(df['labels'].str.contains("6"), 1, 0)
df['has_seven'] = np.where(df['labels'].str.contains("7"), 1, 0)
df['has_eight'] = np.where(df['labels'].str.contains("8"), 1, 0)
# print df
print df['has_zero'].sum() 
   #675
print df['has_one'].sum() 
    #997
print df['has_two'].sum()  
     #1030
print df['has_three'].sum() 
     #1007
print df['has_four'].sum() 
  # 551
print df['has_five'].sum() 
   # 1253
print df['has_six'].sum() 
    #1364
print df['has_seven'].sum() 
   # 576
print df['has_eight'].sum() 
   # 1242

675
997
1030
1007
551
1253
1364
576
1242

In [53]:
# this doesn't work

def has_8(row):
    for i in range(0,len(row)):
        if row[i].find("8") > 0:
            has_8=1
        else:
            has_8=0
    
print has_8(df['labels'])

AttributeError: 'float' object has no attribute 'find'

TypeError: object of type 'int' has no len()